@model HtmlToPdf.Models.Template

@{
    ViewData["Title"] = "Edit Template";
}

<style>
    #editor {
        width: 100%;
        height: 500px;
    }

    iframe {
        width: 900px;
        height: 100%;
    }
</style>

<div class=" container-fluid p-t-25">
    <form asp-action="Edit">
        <!-- START card -->
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    Edit Template
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Template Name:</label>
                            <input class="form-control" style="max-width:300px" asp-for="Name" />
                        </div>
                    </div>
                </div>
                <div class="clearfix p-t-10">

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Html:</label>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ApplicationUserId" />
                        <input type="hidden" asp-for="CreateDate" />
                        <input type="hidden" asp-for="Body" id="html_body" />
                        <div id="editor">
                            @Model.Body
                        </div>
                    </div>
                    <div class="col-md-6" style="overflow-y:hidden;overflow-x:scroll">
                        <label>Preview:</label>
                        <iframe id="output" frameBorder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");

        editor.getSession().on('change', function () {
            update()
        });

        function update() //writes in <div> with id=output
        {
            var val = editor.getSession().getValue();
            document.getElementById('output').src = "data:text/html;charset=utf-8," + escape(val);
            document.getElementById('html_body').value = val;
        }

        update();

    </script>
}
