@model IEnumerable<Pdfinary.Models.Template>

@{
    ViewData["Title"] = "TEMPLATES";
}

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<br />
@foreach (var template in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple vertical green">
                <div class="grid-body no-border no-padding">
                    <table class="table no-margin">
                        <tr>
                            <td width="150">
                                <div class="thumbnail-container">
                                    <div class="thumbnail">
                                        <iframe src="/Templates/Render/@template.Id?draft=false" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </td>
                            <td width="150">
                                <div class="thumbnail-container">
                                    <div class="thumbnail">
                                        <iframe src="/Templates/Render/@template.Id?draft=true" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4>@template.Name</h4>
                                <p>@template.Description</p>
                            </td>
                            <td width="100" style="vertical-align:middle">
                                <form asp-action="SetDraftToProduction">
                                    <input name="id" value="@template.Id" type="hidden" />
                                    <button type="submit" class="btn btn-danger">Set Draft To Production</button>
                                </form>
                            </td>
                            <td width="100" style="vertical-align:middle">
                                <a asp-action="Edit" asp-route-id="@template.Id" class="btn btn-success">Edit</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
}
<style>
    .thumbnail iframe {
        width: 650px;
        height: 768px;
        border: solid 1px;
    }

    .thumbnail {
        position: relative;
        -ms-zoom: 0.174;
        -moz-transform: scale(0.174);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.174);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.174);
        -webkit-transform-origin: 0 0;
    }

    .thumbnail-container {
        width: 115px;
        height: 136px;
        display: inline-block;
        overflow: hidden;
        position: relative;
    }
</style>