@{
    try
    {
        var alerts = TempData.ContainsKey(HtmlToPdf.Helpers.Alert.TempDataKey) ?
            (Newtonsoft.Json.JsonConvert.DeserializeObject<List<HtmlToPdf.Helpers.Alert>>((string)TempData[HtmlToPdf.Helpers.Alert.TempDataKey])) :
            new List<HtmlToPdf.Helpers.Alert>();
        if (alerts.Any())
        {

            foreach (var alert in alerts)
            {
                <div class="alert alert-@alert.AlertStyle">
                    @alert.Message
                </div>
            }
        }
    }
    catch
    {
    }
}
