@{
    ViewData["Title"] = "Quick Start";
    var subscription = (Subscription)ViewBag.Subscription;
}

<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>URL TO PDF</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body">
                <div>
                    <h3>Render PDF from <span class="semi-bold">Url</span></h3>
                    <p>The simplest way to render a PDF is to create is to simply pass the url to convert to pdf.</p>
                    <form target="_blank" action="http://pdfinary.com/api/Render/RenderUrl" method="get">
                        <input name="key" type="hidden" value="@subscription.ApiKey">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Url</label><span class="help">e.g. "https://google.co.za"</span>
                                    <div class="input-with-icon right">
                                        <input class="form-control" name="url" type="url" value="https://google.co.za" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Scale</label>
                                    <input name="scale" class="form-control" value="0.7" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Scroll Page</label>
                                    <select name="scrollPage" class="form-control">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Emulate Screen Media</label>
                                    <select name="emulateScreenMedia" class="form-control">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning">Render</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>FORM DATA TO PDF</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body">
                <h3>Render PDF from <span class="semi-bold">submitted HTML form</span></h3>
                <p>Generate pdf's from submitted html forms. Using handlebars in your template allows you to access the data submitted in the form.</p>
                <div class="row" style="background-color:whitesmoke;padding:20px 10px;margin-top:25px!important">
                    <div class="col-md-5">
                        <h4>Form Example:</h4>
                        <hr />
                        <div class="p-l-5 p-t-10">
                            <form>
                                <input name="key" type="hidden" value="@subscription.ApiKey">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input name="Name" placeholder="Name" class="form-control" value="John">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Surname</label>
                                            <input name="Surname" placeholder="Surname" class="form-control" value="Doe">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Address</label>
                                            <input name="Address" placeholder="Address" class="form-control" value="699 Bryson Ave">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">City</label>
                                            <input name="City" placeholder="City" class="form-control" value="Palo Alto">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Country</label>
                                            <input name="Country" placeholder="Country" class="form-control" value="USA">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-success" type="submit">Test</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="p-l-5 p-t-5">
                            <h5>Form code</h5>
                            <div id="snippet">
                                <pre>
                                <code class="html">
 &lt;form&gt;
     &lt;input name=&quot;Key&quot; value=&quot;@subscription.ApiKey&quot; /&gt;
     &lt;input name=&quot;Name&quot; /&gt;
     &lt;input name=&quot;Surname&quot; /&gt;
     &lt;input name=&quot;Address&quot; /&gt;
     &lt;input name=&quot;City&quot; /&gt;
     &lt;input name=&quot;Country&quot; /&gt;
     &lt;button type=&quot;submit&quot;&gt;Test&lt;/button&gt;
 &lt;/form&gt;
                                    </code></pre>
                            </div>
                        </div>
                        <div class="p-l-5 p-t-10">
                            <h5>Template code</h5>
                            <div id="snippet">
                                <pre>
                                <code class="html">
 &lt;h1&gt;{{Name}} {{Surname}}&lt;/h1&gt;
 &lt;h2&gt;{{Address}}, {{City}}, {{Country}} &lt;/h2&gt;
                                    </code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>API TO PDF</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body">
                <h3>Render PDF programatically based on your <span class="semi-bold">templates</span></h3>
                <p>Generate pdf's using api requests. Using handlebars in your template allows you to access the data submitted in the api.</p>
                <div class="col-md-12" style="margin-top:15px">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#tab1hellowWorld" role="tab" data-toggle="tab">C#</a>
                        </li>
                        <li>
                            <a href="#tab1FollowUs" role="tab" data-toggle="tab">Python</a>
                        </li>
                        <li>
                            <a href="#tab1Inspire" role="tab" data-toggle="tab">Javascript</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1hellowWorld">
                            <div class="row column-seperation">
                                <div id="snippet">
                                    <pre>
                                    <code class="C#">
var client = new RestClient(&quot;http://pdfinary.com/api/Render/RenderTemplate&quot;);
var request = new RestRequest(Method.POST);

request.AddHeader(&quot;Content-Type&quot;, &quot;application/json&quot;);
request.AddBody(new {
                     Key = &quot;5nM7LHljIDXk089Fm9v&quot;,
                     TemplateId  = 11,
                     Data = new Dictionary&lt;string, object&gt;(){
                                            {&quot;Name&quot;,&quot;John&quot;},
                                            {&quot;Surname&quot;,&quot;Doe&quot;},
                                            {&quot;Address&quot;,&quot;699 Bryson Ave&quot;},
                                            {&quot;City&quot;,&quot;Palo Alto&quot;},
                                            {&quot;Country&quot;,&quot;USA&quot;}
                                        }
                     });

IRestResponse response = client.Execute(request);
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab1FollowUs">
                            <div class="row">
                                <div id="snippet">
                                    <pre>
                                    <code class="python">
import requests

url = &quot;http://pdfinary.com/api/Render/RenderTemplate&quot;

payload = &quot;{Key:&#39;5nM7LHljIDXk089Fm9v&#39;,TemplateId :11,Data : {  &#39;Name&#39;:&#39;John&#39;,&#39;Surname&#39;:&#39;Doe&#39;,&#39;Address&#39;:&#39;699 Bryson Ave&#39;,&#39;City&#39;:&#39;Palo Alto&#39;,&#39;Country&#39;:&#39;USA&#39;}}&quot;
headers = {
    &#39;Content-Type&#39;: &#39;application/json&#39;
    }

response = requests.request(&quot;POST&quot;, url, data=payload, headers=headers)

print(response.text)
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab1Inspire">
                            <div class="row">
                                <div id="snippet">
                                    <pre>
                                    <code class="javascript">
var settings = {
  &quot;url&quot;: &quot;http://pdfinary.com/api/Render/RenderTemplate&quot;,
  &quot;method&quot;: &quot;POST&quot;,
  &quot;headers&quot;: {
    &quot;Content-Type&quot;: &quot;application/json&quot;,
  },
  &quot;data&quot;: &quot;{\n\tKey:\&quot;5nM7LHljIDXk089Fm9v\&quot;,\n    TemplateId :11,\n\tData : {\n     \&quot;Name\&quot;:\&quot;John\&quot;,\n     \&quot;Surname\&quot;:\&quot;Doe\&quot;,\n     \&quot;Address\&quot;:\&quot;699 Bryson Ave\&quot;,\n     \&quot;City\&quot;:\&quot;Palo Alto\&quot;,\n     \&quot;Country\&quot;:\&quot;USA\&quot;\n\t}\n}&quot;
}

$.ajax(settings).done(function (response) {
  console.log(response);
});
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/atom-one-dark.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}
