@model IEnumerable<Pdfinary.Models.Render>

@{
    ViewData["Title"] = "RENDERS";
}

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Historical <span class="semi-bold">Renders</span></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Render Date
                            </th>
                            <th>
                                Render Type
                            </th>
                            <th>
                                Preview
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Template.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BlobUrl)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>