@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from thetheme.io/thesaas/demo/marketing-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 May 2019 11:21:16 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Pdfinary - Perfect PDF's Everytime</title>

    <!-- Styles -->
    <link href="/frontend/assets/css/page.min.css" rel="stylesheet">
    <link href="/frontend/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/frontend/assets/img/apple-touch-icon.png">
    <link rel="icon" href="/frontend/assets/img/favicon.png">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" data-navbar="smart">
        <div class="container">

            <div class="navbar-left mr-auto">
                <a class="navbar-brand" href="#">
                    <img class="logo-dark" src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_scale,w_500/v1556882777/logo-dark_fwatrl.png" alt="logo">
                    <img class="logo-light" src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_scale,e_brightness:100,w_500/v1556882777/logo-dark_fwatrl.png" alt="logo">
                </a>
            </div>

            <div class="mr-4">
                <a class="btn btn-xs btn-primary ml-lg-4 mr-2" href="/Identity/Account/Login">Sign in</a>
                <a class="btn btn-xs btn-danger" href="/Identity/Account/Register">Sign up</a>
            </div>
        </div>
    </nav><!-- /.navbar -->
    <!-- Header -->
    <div id="particles-js"></div>
    <header class="header overflow-hidden pb-0 pt-11 bg-header text-light text-white">
        <div class="container" style="z-index:2">
            <div class="row h-100">

                <div class="col-lg-5 align-self-center pb-8 pb-lg-10">
                    <h1>the <span class="text-warning">mandrill</span> for <span class="text-info">pdfs</span></h1>
                    <p class="lead mt-5 mb-8"> transactional pdf rendering service for developers, cause your time is valuable.</p>
                    <p class="gap-xy">
                        <a class="btn btn-round btn-primary mw-150" href="#section-features">Learn more</a>
                        <a class="btn btn-round btn-danger mw-150" href="/Identity/Account/Register">Sign Up</a>
                    </p>
                </div>

                <div class="col-lg-6 ml-auto align-self-end">
                    <img class="shadow-7" src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_scale,q_100,w_1000/v1556910938/laptop-2_qhc1jy_tgcznp.png" alt="img">
                </div>

            </div>
        </div>
    </header><!-- /.header -->
    <!-- Main Content -->
    <main class="main-content">

        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Features
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <section id="section-features" class="section">
            <div class="container">
                <header class="section-header">
                    <small>Feature</small>
                    <h2>All your PDF rendering needs</h2>
                    <hr>
                    <p class="lead">
                        From simple html to pdf convertion to transactional pdf rendering with comprehensive analytics and blob storage backup of all pdfs, pdfinary is the only service you will need.
                    </p>
                </header>



                <div class="row gap-y">

                    <div class="col-lg-8 mx-auto mb-7" style="background-color:aliceblue;border-radius: 25px;padding:25px">
                        <form target="_blank" action="http://pdfinary.com/api/Render/RenderUrl" method="get">
                            <input name="key" type="hidden" value="Gyo5WgXCtxoVyv">
                            <input name="storeBlob" type="hidden" value="false">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Url</label>
                                        <div class="input-with-icon right">
                                            <input class="form-control" name="url" type="url" value="http://pdfinary.com" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Scale</label>
                                        <input name="scale" class="form-control" value="0.7" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Scroll Page</label>
                                        <select name="scrollPage" class="form-control">
                                            <option value="false">False</option>
                                            <option value="true">True</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Screen Media</label>
                                        <select name="emulateScreenMedia" class="form-control">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Page Format</label>
                                        <select name="format" class="form-control">
                                            <option value="A4">A4</option>
                                            <option value="A5">A5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Orientation</label>
                                        <select name="landscape" class="form-control">
                                            <option value="false">Portrait</option>
                                            <option value="true">Landscape</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="padding-top:32px;padding-left:10px;padding-right:10px">
                                        <button type="submit" style="width:100%" class="btn btn-warning btn-round">Render</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                    <div class="w-100"></div>

                    <div class="clearfix m-t-100"></div>
                    <div class="col-md-6 col-xl-4">
                        <div class="media">
                            <div class="lead-6 line-height-1 text-dark mr-5"><i class="fa fa-check-circle"></i></div>
                            <div class="media-body">
                                <h5>Comprehensive Api</h5>
                                <p>Our comprehensive pdf rendering api, ensures great flexibility.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-xl-4">
                        <div class="media">
                            <div class="lead-6 line-height-1 text-primary mr-5"><i class="fa fa-save"></i></div>
                            <div class="media-body">
                                <h5>Cloud backup</h5>
                                <p>All pdf's renders are stored on blob storage to be viewed at a later time.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-xl-4">
                        <div class="media">
                            <div class="lead-6 line-height-1 text-info mr-5"><i class="fa fa-server"></i></div>
                            <div class="media-body">
                                <h5>Planet scale</h5>
                                <p>Pdfinary wordclass infastructure is scalable and fully managed.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-xl-4">
                        <div class="media">
                            <div class="lead-6 line-height-1 text-warning mr-5"><i class="fas fa-print"></i></div>
                            <div class="media-body">
                                <h5>Predictable Rendering</h5>
                                <p>Pdfinary supports all modern web standards, and delivers predictable results.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-xl-4">
                        <div class="media">
                            <div class="lead-6 line-height-1 text-danger mr-5"><i class="fab fa-js-square"></i></div>
                            <div class="media-body">
                                <h5>Javascript Support</h5>
                                <p>Supports rendering javascript charts and heatmaps.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-xl-4">
                        <div class="media">
                            <div class="lead-6 line-height-1 text-success mr-5"><i class="fa fa-question-circle"></i></div>
                            <div class="media-body">
                                <h5>Support</h5>
                                <p>Pdfinary is continualy updated and improved by us.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </section>


        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Blog
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <section class="section bt-1 bb-1 p-0">
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <div class="col-md-6 bg-img mh-300 order-md-2" style="background-image: url(https://res.cloudinary.com/dbwpvgyrn/image/upload/c_scale,q_auto:best,w_1080/v1557045858/QuikStart_w23mjc.png);"></div>

                    <div class="col-10 col-md-4 mx-auto py-8 text-center text-md-left">
                        <p class="small-2 text-light">simple</p>
                        <h4>Get started in less than 5 minutes</h4>
                        <p>Simple quick start examples are avalible for most popular programming languages. From basic url to PDF rendering to more complicated transactional pdf rendering examples.</p>
                        <br>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-6 bg-img mh-300" style="background-image: url(https://res.cloudinary.com/dbwpvgyrn/image/upload/c_fill,g_xy_center,h_800,w_1000,x_1766,y_0/v1557003491/screencapture-pdfinary-Templates-Edit-1-2019-05-04-22_57_37_tpcbko.png);"></div>

                    <div class="col-10 col-md-4 mx-auto py-8 text-center text-md-left">
                        <p class="small-2 text-light">powerful</p>
                        <h4>HTML Data Driven PDF's</h4>
                        <p>
                            Create one template and add your merge tags to allow programtically populating html templates for rendering PDF's.'

                        </p>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-6 bg-img mh-300 order-md-2" style="background-image: url(https://res.cloudinary.com/dbwpvgyrn/image/upload/c_scale,q_auto:best,w_1080/v1557005732/Templates_bomemc.png);"></div>

                    <div class="col-10 col-md-4 mx-auto py-8 text-center text-md-left">
                        <p class="small-2 text-light">organized</p>
                        <h4>All your templates in one place</h4>
                        <p>All your templates are stored on our platform, so no need to redeploy your codebase when changing your templates.</p>
                        <br>
                      
                    </div>
                </div>

            </div>
        </section>


        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | CTA
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <section class="section bg-gray">
            <div class="container">
                <header class="section-header">
                    <small>Pdfinary</small>
                    <h2 class="lead-7"><strong>PDF's made easy</strong></h2>
                    <hr>
                    <p class="lead-2">Create your pdfinary account now and start rendering your best PDF's yet.</p>
                </header>

                <p class="text-center">
                    <a class="btn btn-lg btn-danger w-250" href="/Identity/Account/Register">Get started</a>
                </p>
            </div>
        </section>


        <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | FAQ
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
        <section class="section">
            <div class="container">
                <header class="section-header">
                    <small>FAQ</small>
                    <h2>Frequently Asked Questions</h2>
                    <hr>
                    <p>Got a question? We've got answers. If you have some other questions, see our support center.</p>
                </header>


                <div class="row gap-y">
                    <div class="col-md-6">
                        <h5>What payment services do you support?</h5>
                        <p>We accept all major credit cards.</p>
                    </div>


                    <div class="col-md-6">
                        <h5>Can I update my card details?</h5>
                        <p>Yes. Go to the billing section of your dashboard and update your payment information.</p>
                    </div>


                    <div class="col-md-6">
                        <h5>Is this a secure site for purchases?</h5>
                        <p>Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.</p>
                    </div>


                    <div class="col-md-6">
                        <h5>Can I cancel my subscription?</h5>
                        <p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.</p>
                    </div>


                    <div class="col-md-6">
                        <h5>How long are your contracts?</h5>
                        <p>Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.</p>
                    </div>


                    <div class="col-md-6">
                        <h5>Can I request refund?</h5>
                        <p>Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
                    </div>
                </div>

            </div>
        </section>

    </main>


    <!-- Footer -->
    <footer class="footer bg-gray py-7">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <p><a href="#"><img width="200" src="https://res.cloudinary.com/dbwpvgyrn/image/upload/c_scale,w_500/v1556882777/logo-dark_fwatrl.png" alt="logo"></a></p>
                </div>

                <div class="col-md-7">
                    <p>We’re a team of experienced designers and developers. We can combine beautiful, modern designs with clean, functional and high-performance code to produce stunning websites.</p>
                    <hr class="d-xl-none">
                </div>

            </div>
        </div>
    </footer><!-- /.footer -->
    <!-- Scripts -->
    <script src="/frontend/assets/js/page.min.js"></script>

    <style>
        .bg-header {
            background: url(https://res.cloudinary.com/dbwpvgyrn/image/upload/q_auto:best/v1556974449/header-overlay_cawvfs.png) 0 0 no-repeat, url(https://res.cloudinary.com/dbwpvgyrn/image/upload/q_auto:best/v1556974455/header-bg-azure_wwvexg.png) 50% 100% no-repeat;
            background-size: contain, cover;
            background-color: #0d42b2;
        }


        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index:1;
        }

        .btn.btn-alt {
            background-image: -webkit-linear-gradient(left, #16a3fe 0%, #41faa4 100%) !important;
            background-image: linear-gradient(to right, #16a3fe 0%, #41faa4 100%) !important;
            font-size: 12px;
            line-height: 25px;
            font-weight: 600;
            padding: 0 34px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            min-width: 60px;
            max-width: 100%;
        }
    </style>
    <script src="/backend/assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS("particles-js", { "particles": { "number": { "value": 80, "density": { "enable": true, "value_area": 800 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 0.5, "random": false, "anim": { "enable": false, "speed": 1, "opacity_min": 0.1, "sync": false } }, "size": { "value": 3, "random": true, "anim": { "enable": false, "speed": 40, "size_min": 0.1, "sync": false } }, "line_linked": { "enable": true, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 6, "direction": "none", "random": false, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": true, "mode": "repulse" }, "onclick": { "enable": true, "mode": "push" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3 }, "repulse": { "distance": 200, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true });
    </script>

</body>
</html>

